<!DOCTYPE html>
<html lang="ept-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMaster</title>
</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/cadastro_plataformas">Cadastro de Plataformas</a>
        <a href="/consulta_plataformas">Consulta de Plataformas</a>
        <a href="/cadastro_jogo">Cadastro de Jogos</a>
        <a href="#">Consulta de Jogos</a>
    </nav>

</body>
</html>