<!DOCTYPE html>
<html lang="ept-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMaster</title>
</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/cadastro_plataformas">Cadastro de Plataformas</a>
        <a href="/consulta_plataformas">Consulta de Plataformas</a>
        <a href="/cadastro_jogo">Cadastro de Jogos</a>
        <a href="#">Consulta de Jogos</a>
    </nav>

    <div>
        <h2>Consulta Plataformas</h2>
        <table>
            <tr>
                <th>Item</th> <!--Títulos de cada coluna da tabela: th-->
                <th>Nome</th>
                <th>Fabricante</th>
                <th>Imagens</th>
                <th>Opções</th>
                 <!--Informações de cada coluna da tabela: td-->
            </tr>
            {% for dados in dados_lista %}
            <tr>
                <td>{{ dados.linha + 1}}</td>
                <td>{{ dados.nome }}</td>
                <td>{{ dados.fabricante }}</td>
                <td> <img src="{{ dados.imagem }}" width="100"></td>
                <td> 
                    <a href="/excluir_plataforma?linha={{ dados.linha }}">Excluir</a> 
                    <!--dentro da url, o sinal de igual é colocado para mandar uma informação-->
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>